USE [Test]
GO
CREATE TABLE [dbo].[KGN_COUNTER_VAL]
(
	[IDCOUNTER] [INT] NOT NULL, 
	[DATE] [NVARCHAR](max) NOT NULL,
	[VALUE] [INT] NOT NULL,
	CONSTRAINT FK_KGN_COUNTER_VAL_ID FOREIGN KEY (IDCOUNTER) REFERENCES [dbo].[KGN_COUNTER] ([ID])ON DELETE CASCADE ON UPDATE CASCADE
) 

